numpy
chromadb
beautifulsoup4
requests
datasets
openai
modal
ollama
langchain
langchain-openai
langchain-chroma
langchain-text-splitters
gradio
langchain-community
dotenv
pypdf
langchain-unstructured



